h1 {
  margin: 0;
}

p {
  margin: 10px 0 0;
}

p {
  position: relative;
  width: 200px;
  padding-bottom: 10px;
}

p:after {
  content: 'Data ID: ' attr(data-id);
  position: absolute;
  top: 10px;
  left: 10px;
  background: black;
  color: white;
  padding: 2px;
  border: 1px solid #eee;
  opacity: 0;
  transition: 0.5s opacity;
}

p:hover:after {
  opacity: 1;
}