body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg, rgb(237, 237, 237), rgb(2, 2, 161));
}

h1 {
  margin: 0;
}

.name {
  font-size: 23px;
  font-weight: 800;
  width: 286px;
}

.container-v1 {
  text-align: center;
  width: 150vh;
}

p {
  position: relative;
  left: 115px;
  padding-bottom: 5px;
  margin: 10px 8px 10px 5px;
  font-size: xx-large;
}

hr {
  height: 4px;
  width: 100%;
  margin: 4px 0 4px 0;
  background-color: rgb(62, 97, 128);
  border-width: 2px 5px 2px 5px;
}

.image {
  border-radius: 100%;
  height: 150px;
}

.container-v2 {
  background-color: rgb(13, 9, 9);
  color: rgb(192, 188, 184);
}

h3 {
  font-weight: 400;
}

span {
  font-weight: bold;
  font-size: large;
}

h3:hover:after {
  opacity: 1;
}